*{
    color: black;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navas{
    background-color: rgb(102, 135, 163);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
}
.navigation{
    display: flex;
    justify-content: space-between;
    width: 20%;
    list-style: none;
}
.navigation a{
    text-decoration: none;
    font-size: 23px;
}
button{
    padding: 9px 20px;
    background-color: rgb(102, 135, 163);
    border-width: 1px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 20px;

}
button:hover{
    background-color: rgb(97, 124, 173);
}