*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    margin-right: 2%;
    margin-top: 0.5%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li,a{
    font-size: 20px;
}
.pav{
    display: flex;
    
    align-items: center;
}
.icon{
    width: 200px;
    height: 100px;
}
.navigation{
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    width: 30%;
}